$icomoon-font-family: "icon-small-line";
$icomoon-font-path: "../fonts/icons/small-line";

$icon-small-line-arrow-down: "\e936";
$icon-small-line-arrow-left: "\e937";
$icon-small-line-arrow-right: "\e938";
$icon-small-line-arrow-up: "\e939";
$icon-small-line-block: "\e93a";
$icon-small-line-calendar-add: "\e93b";
$icon-small-line-caret-down: "\e93c";
$icon-small-line-caret-left: "\e93d";
$icon-small-line-caret-right: "\e93e";
$icon-small-line-caret-up: "\e93f";
$icon-small-line-check1: "\e940";
$icon-small-line-copy: "\e941";
$icon-small-line-cross1: "\e942";
$icon-small-line-delete: "\e943";
$icon-small-line-fav: "\e944";
$icon-small-line-filter: "\e945";
$icon-small-line-hamburger1: "\e946";
$icon-small-line-inbox1: "\e947";
$icon-small-line-mail: "\e948";
$icon-small-line-member-add: "\e949";
$icon-small-line-member: "\e94a";
$icon-small-line-members1: "\e94b";
$icon-small-line-messages1: "\e94c";
$icon-small-line-min: "\e94d";
$icon-small-line-more1: "\e94e";
$icon-small-line-new-message1: "\e94f";
$icon-small-line-photo1: "\e950";
$icon-small-line-plus: "\e951";
$icon-small-line-rotate-ccw: "\e952";
$icon-small-line-rotate-cw: "\e953";
$icon-small-line-search1: "\e954";
$icon-small-line-send-member: "\e955";
$icon-small-line-share1: "\e956";
$icon-small-line-sorting: "\e957";

