<div id="payment-method">
  <div class="sportpartners-header">
    <p class="text-header">
      <span class="font-weight-bold">
        sportpartner
      </span>
      together is more
    </p>
  </div>
  <div class="sport-payment-land">
    <div class="sportpartners-added-content">
      <div class="content">
        <h2 class="get-more-get-premium">Get more
          <br> get premium</h2>
        <p class="with-sportpartner-yo">
          With Sportpartner you’ll not only find a sport partner within a day but also put your effort to a good cause! Lorem ipsum
          dolor sit amet, consectetuer adipiscing elit.
        </p>
        <p class="premium-search-get">
          <span class="tick"></span> Premium search. Get quicker results
        </p>
        <p class="premium-search-get">
          <span class="tick"></span> Direct messaging with other members
        </p>
        <p class="premium-search-get">
          <span class="tick"></span> See who is looking for a sport date
        </p>
        <div class="bottom-logo"></div>
      </div>
    </div>
    <div class="choose-options-method">
      <div class="content">
        <ul class="list-unstyled">
          <li>
            <label class="select-sport-panel customize-checkbox">
              <div class="custom-control custom-radio">
                <input type="radio" name="rdChooseTime" class="custom-control-input" id="one-month">
                <label class="custom-control-label" for="one-month">1 maand
                  <span class="price">€ 9,95 per maand</span>
                </label>
              </div>
            </label>
          </li>
          <li>
            <label class="select-sport-panel customize-checkbox">
              <div class="custom-control custom-radio">
                <input type="radio" name="rdChooseTime" class="custom-control-input" id="three-month">
                <label class="custom-control-label" for="three-month">3 maanden
                  <span class="price">€ 7,95 per maand</span>
                </label>
              </div>
            </label>
          </li>
          <li>
            <label class="select-sport-panel customize-checkbox">
              <div class="custom-control custom-radio">
                <input type="radio" name="rdChooseTime" class="custom-control-input" id="one-year">
                <label class="custom-control-label" for="one-year">1 jaar
                  <span class="save">Save 15%</span>
                  <span class="price">€ 5,95 per maand</span>
                </label>
              </div>
            </label>
          </li>
        </ul>
        <div class="space-100"></div>
        <button type="button" class="btn orangey-red btn-block text-left">How would you like to pay?</button>
        <p class="lt-text">
          <img src="/images/lock.svg" alt=""> This will take you to a secure payment page
        </p>
      </div>
    </div>
  </div>
</div>
