{{> common-header }}
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div id="page-payment-result-confirm">
        <p class="text-center m-0 title-40 font-family-gilroy font-weight-bold">Oops.. Your payment has been unsuccesful</p>
        <div class="space-40"></div>
        <p class="text-center font-weight-600 title-24 font-family-gilroy">Please try again</p>
        <p class="text-center payment-success-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat <br>
          mattis eros. Nullam malesuada
          erat ut turpis. Suspendisse urna nibh, viverra non, semper</p>
        <div class="space-70"></div>
        <div class="text-center">
          <button class="btn btn-payment-st-success orangey-red btn-round">Back to payment and try again</button>
        </div>
      </div>
    </div>
  </div>
</div>
