<button type="button" class="btn btn-link close transparent {{close-for}}" href="#">
  <!-- <img src="/images/icons-solid/close.svg" style="width: 14px"> -->
  <span class="sport-icons close"></span>
</button>
