<div id="{{ idPasswordToggle }}" class="password-toggle">
    <input type="password" class="form-control inputfield {{ validateClass }}" placeholder="{{placeholder}}"/>
    <div class="custom-control custom-checkbox checkbox-password-toggle">
        <input type="checkbox" class="custom-control-input" id="cb-{{idPasswordToggle}}">
        <label class="ma-0 custom-control-label" for="cb-{{idPasswordToggle}}"></label>
    </div>
</div>
