<div class="custom-control custom-radio">
  <input type="radio" name="{{ rbName }}" class="custom-control-input" id="{{ checkboxId }}">
  <label class="custom-control-label" for="{{ checkboxId }}">{{ checkboxText }}</label>
</div>
