$icomoon-font-family: "icon-medium-solid";
$icomoon-font-path: "../fonts/icons/medium-solid";

$icon-medium-solid-alert: "\e900";
$icon-medium-solid-chat: "\e901";
$icon-medium-solid-gift: "\e902";
$icon-medium-solid-hf: "\e903";
$icon-medium-solid-image: "\e904";
$icon-medium-solid-inbox: "\e905";
$icon-medium-solid-messages: "\e906";
$icon-medium-solid-new-message: "\e907";
$icon-medium-solid-write-message: "\e908";

