{{> common-header-landing }}
<div id="page-blog-stories">
    <div class="big-banner">
        <hr class="_hr-header">
        <p class="desc-content">
            Marjolijn vond 45 wandelmaatjes en maakte 3 proefloopjes. Ben je de 4de?
        </p>
        <p class="date">Saturday, March 7th 2015</p>
        <hr class="_hr-orange">
        <p class="message-first">
            Wandelen is razend populair en na fitness de grootste sport van Nederland. Niet alleen goed voor je conditie maar het maakt
            ook je hoofd leeg. Dat veel mensen graag sámen wandelen, blijkt wel uit het grote succes van SportPartner. Op
            dit platform vind je tienduizenden leuke wandelmaatjes, ook in jouw buurt. En met dezelfde wandelwensen als jij.
        </p>
        <div class="big-image">
            <img src="/images/banner-2.jpg" alt="" />
        </div>
        <div class="block-content">
            <p class="message">
                Marjolijn: “Wandelen is mijn lust en mijn leven. Toen ik 6 jaar was ging ik al met m’n ouders de bergen in. Zelfs tijdens
                mijn studententijd maakte ik vele trektochten. Het liefst in Noorwegen. Op mijn 50ste verjaardag gaf ik mezelf
                een groot cadeau, een trekking naar het basiskamp in Annapurna in Nepal.
                <br><br> De laatste tijd heb ik wat meer tijd en zou ik graag weer meer gaan wandelen. Ik heb mijn man gevraagd om
                samen de Hadrian’s Wall te lopen, de Romeinse muur tussen Schotland en Engeland die van kust naar kust loopt.
                Hij houdt van wandelen maar dit is voor hem echt een brug te ver. En ik heb nog meer op mijn verlanglijstje.
                Ik zou heel graag met iemand naar Ladakh in India gaan om daar een trektocht te maken. En ook Ruta de la
                Plata, de oude Romeinse handelsroute van Sevilla naar Santiago, die ik voor de helft liep en graag zou willen
                afmaken.
            </p>
            <img src="/images/banner-2.jpg" alt="" />
            <h2 class="title">Met één klik 45 wandelmaatjes in de buurt</h2>
            <p class="message">
                Met mijn oude loopmaatje liep ik ook de helft van het Pieterpad maar zij kan door familieomstandigheden jammer genoeg niet
                meer mee. Dus ben ik in mijn vriendenkring en bij collega’s rond gaan vragen, op zoek naar een wandelmaatje.
                Maar daar kwam niets uit. Veel mensen van mijn leeftijd zijn druk met de kleinkinderen of worden wat minder
                fit.
                <br><br> Toen ben ik gaan googlen op loopvriendin en kwam ik al snel op SportPartner. Ik kende het niet en vond meteen
                45 wandelmaatjes bij mij in de buurt. Met foto en een verhaal erbij. Leuk om te zien dat niet iedereen dezelfde
                wandelwensen heeft. Zo zijn er bijvoorbeeld veel mensen die oefenen voor de Nijmeegse Vierdaagse. Niet helemaal
                in mijn straatje. Met drie vrouwen met wel dezelfde belangstelling heb ik contact gezocht.
            </p>
            <div class="block-signup">
                <h2 class="title">Aanmelden is zo geregeld!</h2>
                <p class="text">
                    Al meer dan 35.000 leden zijn je voor gegaan
                </p>
                <a href="#" class="btn deep-sky-blue btn-round">Sign up today</a>
            </div>
            <h2 class="title">Samen maar apart wandelen</h2>
            <p class="message">
                Met de eerste vrouw klikte het meteen over de mail. Alleen wilde zij graag lange tochten in Canada maken met de tent op de
                rug. Dat gaat mij zelfs te ver. Met de tweede vrouw heb ik een proefloopje gemaakt en dat was heel gezellig
                alleen wilde zij meer kilometers maken voor de Vierdaagse. Ik houd er niet zo van, kilometers tellen en in
                groepen lopen. Ik loop liever wat korter en zie dan meer om me heen. Hertensporen of een mooi kerkje. In
                mijn vrije tijd ben ik ook stadsgids in Zutphen en ik vind het leuk mensen verhalen te vertellen over waar
                ze lopen of wat ze zien. Ik geef ook lezingen, over mijn pelgrimstochten en ook over mindfulness tijdens
                het wandelen.
                <br><br> Met mijn derde sportpartner ben ik nu gestart op het Hanze pad van Doesburg naar Kampen langs de IJssel.
                Wij delen veel belangstellingen samen wat een extra toevoeging geeft aan het lopen. Ook dat klikte, maar
                zij is nu ziek en dus ga ik nu weer verder zoeken op SportPartner. Ik ben trouwens benieuwd of er meer vrouwen
                zijn die net als ik samen maar apart willen wandelen. Dat we samen een pelgrimstocht maken maar dat we in
                ons eentje wandelen en dat we elkaar aan het eind van de dag weer treffen. Het zou mooi zijn als SportPartner
                daar een extra knop voor zou maken. Samen maar toch alleen wandelen.”
                <br><br> Dankjewel Marjolijn voor je leuke verhaal en je tip! Wij vinden het heel fijn als leden meedenken wat beter
                of anders kan op ons platform. En we gaan serieus kijken hoe je voortaan je wandelwensen kunt aangeven. Tot
                die tijd moet je ze gewoon in je introductietekst zetten.
            </p>
            <div class="tags">
                <h3 class="title">Related tags</h3>
                <p class="tag">wandelen, buiten, sport</p>
            </div>
            <hr class="_hr">
            <div class="container-button">
                <a href="#" class="btn facebook">Facebook | 35</a>
                <a href="#" class="btn twitter">Twitter | 12</a>
            </div>
        </div>
        <div class="more-stories"></div>
    </div>
</div>
<div class="sportpartner-review-extend">
    <div class="review-extend">
        <div class="flex-left">
            <ul class="list-unstyled">
                <li>
                    Sportpartner bestaat al 9 jaar
                </li>
                <li>
                    Gratis Basis Lidmaatschap
                </li>
                <li>
                    Meer dan 4.500 dagelijkse actieve leden
                </li>
                <li>
                    Je eerste match al binnen één dag
                </li>
                <li>
                    Veilig en anoniem zoeken
                </li>
            </ul>
        </div>
        <div class="flex-right">
            <div class="content-right">
                <div class="item">
                    <div class="title">
                        Afgelopen zondag aangemeld bij Sportpartner en al binnen een week mijn favoriete wandel maatje gevonden!
                    </div>
                    <div class="space-30"></div>
                    <div class="small-avatar">
                        <div class="avatar">
                            <img src="" alt="">
                        </div>
                        <div class="ct-right">
                            <div class="title">Dorien</div>
                            <div class="city">Amstelveen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="review-page-let-signup">
    <h3>
        Al meer dan 35.000 leden zijn je voor gegaan!
    </h3>
    <div class="text-center">
        <button class="btn btn-round royal-purple">Sign up today</button>
    </div>
    <div class="already-acc">
        <p class="m-0">Already have an account?
            <a class="text-white" href="#">Login</a>
        </p>
    </div>
</div>
{{> common-footer-landing }}