{{> common-header(customHeaderClass :"bg-purple") }}
<div class="container-fluid photo-upload-page">
  <div class="wl">
    <p class="m-0">
      Great. Time to add a photo!
    </p>
  </div>
  <div class="pnl-step-1">
    <p>Add a photo</p>
    <button type="button" class="btn btn-round black-two">Upload a photo</button>
  </div>
</div>
