{{> common-header }}
{{> common-navigation-profile }}
<div>
  <hr class="m-0">
</div>
<div id="landing-matches">
  <div class="section-matches">
    <div class="space-40"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel-profile panel-settings">
            <div class="panel-inner-left">
              {{> common-matched-profile }}
            </div>
            <div class="panel-inner-right">
                {{> common-profile-my-settings-edit-save}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
