{{> common-header }}
<div class="container-fluid">
  <hr class="m-0">
  <div class="row">
    <div class="col-md-12">
      <div id="page-account-profile-settings-delete-contact">
        <p class="m-0 Heading-1">Contact us</p>
        <div class="space-40"></div>
        <div class="paragraph-1 text-center">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.
        </div>
        <div class="panel-form-delete">
          <form>
            <div class="group-field">
              <div class="field">
                <label class="Paragraph-1-form-label d-md-block">What is it we can help you with?</label>
                <div class="field-panel">
                  <select class="custom-select">
                    <option selected value="1">I would like to delete my account</option>
                    <option value="2">Lorem ipsum dolor sit amet</option>
                    <option value="3">Consectetuer adipiscing elit</option>
                    <option value="4">Donec odio</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="Paragraph-1-form-label d-md-block">Your email address</label>
                <div class="field-panel">
                  <div class="select-sport-panel input full-width m-0">
                    <input id="" type="text" value="jorrit@gmail.com" class="form-control inputfield " placeholder="Type your name here">
                  </div>
                </div>
              </div>
            </div>
            <div class="space-10"></div>
            <div class="group-field">
              <div class="field">
                <label class="Paragraph-1-form-label d-md-block">Contact us</label>
                <textarea style="min-height: 100px;" class="form-control inputfield m-0" name=""></textarea>
                <div class="space-20"></div>
                <button class="btn black-two">Contact us</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
