{{> common-header(customHeaderClass :"bg-purple") }}
<div class="container-fluid">
  <hr class="m-0">
  <div class="row">
    <div class="col-md-12">
      <div id="page-account-profile-settings-delete-contact">
        <p class="m-0 Heading-1">Your request has been received!</p>
        <div class="space-40"></div>
        <div class="paragraph-1 text-center">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper
        </div>
        <div class="panel-form-delete">
          <form>
            <div class="group-field">
              <div class="field">
                <label class="Paragraph-1-form-label d-md-block">What rating do you give Sportpartner?</label>
                <div class="field-panel">
                  <div class="panel-rating">
                    <button class="btn btn-rating" type="button" onClick="javascript: return 5;">
                      <!-- <img src="/images/icons-solid/star-filled.svg" alt=""> -->
                      <span class="sport-icons star"></span>
                    </button>
                    <button class="btn btn-rating" type="button" onClick="javascript: return 4;">
                      <!-- <img src="/images/icons-solid/star-filled.svg" alt=""> -->
                      <span class="sport-icons star"></span>
                    </button>
                    <button class="btn btn-rating " type="button" onClick="javascript: return 3;">
                      <!-- <img src="/images/icons-solid/star-filled.svg" alt=""> -->
                      <span class="sport-icons star"></span>
                    </button>
                    <button class="btn btn-rating active" type="button" onClick="javascript: return 2;">
                      <!-- <img src="/images/icons-solid/star-filled.svg" alt=""> -->
                      <span class="sport-icons star"></span>
                    </button>
                    <button class="btn btn-rating" type="button" onClick="javascript: return 1;">
                      <!-- <img src="/images/icons-solid/star-filled.svg" alt=""> -->
                      <span class="sport-icons star"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="Paragraph-1-form-label d-md-block">What do you reckon we can do better or improve?</label>
                <textarea style="min-height: 110px;" class="form-control inputfield m-0" name=""></textarea>
              </div>
              <button class="btn btn-block black-two btn-send-review">Send review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>