{{> common-header(customHeaderClass :"bg-purple") }}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="page-profile-settings-edit-confirm">
        <p class="m-0 confirm-title">Thanks for helping us creating a better experience!</p>
        <div class="space-40"></div>
        <p class="confirm-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
          erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.</p>
        <div class="space-50"></div>
        <div class="text-center">
          <button class="btn btn-round black-two btn-confirm-back-profile">Back to my profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
