<div class="footer">
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-2">
          <select class="custom-select select-language" id="inputGroupSelect01">
            <option selected value="1">Language: English</option>
            <option value="2">Language: Dutch</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-2">
          <h3 class="Heading-3">Sportpartner</h3>
          <ul class="list-unstyled">
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Succes stories")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Blog")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Help")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Membership")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "FAQ")}}
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-2">
          <h3 class="Heading-3">Popular sports</h3>
          <ul class="list-unstyled">
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a dance partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a walking partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a cycling partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a runing partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a tennis partner")}}
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-2">
          <h3 class="Heading-3">Other sports</h3>
          <ul class="list-unstyled">
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a hiking partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a fitness partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a fishing partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "Find a golf partner")}}
            </li>
            <li>
              {{> elements-link(href: "#", class: "Footer-links", linkText: "And more")}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="line">
            <div class="row">
              <div class="col-md-6">
                <label class="copyright">© Sportpartner 2018</label>
              </div>
              <div class="col-md-6">
                <ul class="ma-0 list-inline float-right social-link">
                  <li class="list-inline-item">
                    <a class="Footer-links" href="#">
                      <span class="sport-icons facebook"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="Footer-links" href="#">
                      <span class="sport-icons twitter"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="Footer-links" href="#">
                      <span class="sport-icons google-plus"></span>
                    </a>
                  </li>
                </ul>
                <ul class="ma-0 list-inline float-right">
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Terms")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Privacy")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Impressum")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Site map")}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
