<div class="footer">
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-2">
          {{> elements-selectbox(selectBoxClass: "select-language") }}
        </div>    
      </div>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="line">
            <div class="row">
              <div class="col-md-6">
                <label class="copyright">© Sportpartner 2018</label>
              </div>
              <div class="col-md-6">
                <ul class="ma-0 list-inline float-right">
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Terms")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Privacy")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Impressum")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "Site map")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "F")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "TW")}}
                  </li>
                  <li class="list-inline-item">
                    {{> elements-link(href: "#", class: "Footer-links", linkText: "G+")}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
