<div class="panel-banner-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center font-family-gilroy font-size-60 font-weight-bold text-color-white m-0">Together is hitting that hole in one</h4>
        <div class="space-10"></div>
        <p class="text-center font-family-calibre font-size-34 font-weight-300 text-color-white">
          Find your sport buddy near you today!
        </p>
        <div class="space-30"></div>
        <div class="text-center">
          <a href="#" class="font-weight-500 font-size-18 btn deep-sky-blue btn-round">Find your match</a>
        </div>
      </div>
    </div>
  </div>
</div>
