<div class="panel-members-preview">
  <div class="space-60"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="font-family-gilroy text-center font-size-26 font-weight-bold text-color-dark">What other members are saying</h3>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="block-preview-content">
          {{# home-landing-preview}} {{> common-home-landing-preview}} {{/ home-landing-preview}}
        </div>
      </div>
    </div>
    <div class="space-60"></div>
    <div class="row">
      <div class="text-center col-md-12">
        <a href="#" class="btn btn-round font-weight-500 font-size-18 read-more-preview text-color-orangey-red">Read more reviews</a>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</div>
