<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center font-size-40 font-family-gilroy font-weight-bold text-color-royal-purple">About Sportpartner</h3>
    </div>
  </div>
  <div class="space-70"></div>
  <div class="panel-about-sportpartner">
    <div class="block">
      <div class="image"></div>
      <div class="space-40"></div>
      <h4 class="text-center font-size-26 font-family-gilroy font-weight-bold text-color-dark">Find your buddy</h4>
      <div class="space-20"></div>
      <p class="text-center m-0 font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
        erat ut turpis uspendisse urna nibh, viverra.</p>
    </div>
    <div class="block">
      <div class="image"></div>
      <div class="space-40"></div>
      <h4 class="text-center font-size-26 font-family-gilroy font-weight-bold text-color-dark">Start together. Today</h4>
      <div class="space-20"></div>
      <p class="text-center m-0 font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
        erat ut turpis uspendisse urna nibh, viverra.</p>
    </div>
    <div class="block">
      <div class="image"></div>
      <div class="space-40"></div>
      <h4 class="text-center font-size-26 font-family-gilroy font-weight-bold text-color-dark">Stay anonymous</h4>
      <div class="space-20"></div>
      <p class="text-center m-0 font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
        erat ut turpis uspendisse urna nibh, viverra.</p>
    </div>
  </div>
</div>
