<div class="panel-members-preview">
  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="desc-premium-user">
          <div class="col">
            <h3 class="m-0 font-family-gilroy font-size-26 font-weight-bold text-color-dark">Basis en Premium Lidmaatschap</h3>
            <div class="space-20"></div>
            <p class="m-0 font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
              aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>
          </div>
          <div class="col">
            <h3 class="m-0 font-family-gilroy font-size-26 font-weight-bold text-color-dark">Is SportPartner anoniem?</h3>
            <div class="space-20"></div>
            <p class="m-0 font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
              aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-80"></div>
</div>
