<div class="panel-banner-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="drop-box-image"></div>
        <div class="drop-box-content">
          <h2 class="d-md-none success-story">Succes Stories</h2>
          <h3 class="text-center font-weight-bold text-color-royal-purple font-size-40">Marjolijn vond 45
            <br> wandelmaatjes en maakte 3 proefloopjes. Ben je de 4de?</h3>
          <div class="space-30"></div>
          <p class="text-center font-family-calibre font-size-18 font-weight-500 text-color-slate-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
            <div class="space-60"></div>  
          <a href="#" class="btn btn-round font-size-18 font-weight-500 read-full-story text-color-orangey-red">Read the full story</a>
        </div>
      </div>
    </div>
  </div>
</div>
