<div class="pnl-preview">
  <p class="m-0 text-center text-color-dark font-size-22 font-weight-300">Recencies voor Sportpartner.nl</p>
  <div class="space-20"></div>
  <p class="text-center font-weight-bold font-family-gilroy font-size-20">
    <span class="stars-review">
      <span class="sport-icons star"></span>
      <span class="sport-icons star"></span>
      <span class="sport-icons star"></span>
      <span class="sport-icons star"></span>
      <span class="sport-icons star custom"></span>
    </span>
    Gemiddeld 4.1 van 5 gebaseerd op 715 beoordelingen
  </p>
</div>
