$icomoon-font-family: "icon-medium-line";
$icomoon-font-path: "#{$baseUrl}/assets/fonts/icons/medium-line";

$icon-medium-line-visible-on: "\e900";
$icon-medium-line-visible-off: "\e901";
$icon-medium-line-trophy: "\e902";
$icon-medium-line-trophy-check: "\e903";
$icon-medium-line-time: "\e904";
$icon-medium-line-thumb: "\e905";
$icon-medium-line-start-small: "\e906";
$icon-medium-line-star-large: "\e907";
$icon-medium-line-smily: "\e908";
$icon-medium-line-share: "\e909";
$icon-medium-line-search: "\e90a";
$icon-medium-line-profile: "\e90b";
$icon-medium-line-profile-photo: "\e90c";
$icon-medium-line-profile-add-photo: "\e90d";
$icon-medium-line-premium: "\e90e";
$icon-medium-line-premium-badge: "\e90f";
$icon-medium-line-place: "\e910";
$icon-medium-line-photo: "\e911";
$icon-medium-line-no-search: "\e912";
$icon-medium-line-no-chat: "\e913";
$icon-medium-line-new-message: "\e914";
$icon-medium-line-mouse: "\e915";
$icon-medium-line-more: "\e916";
$icon-medium-line-messages: "\e917";
$icon-medium-line-message-read: "\e918";
$icon-medium-line-members: "\e919";
$icon-medium-line-members-group: "\e91a";
$icon-medium-line-member-no-photo: "\e91b";
$icon-medium-line-location: "\e91c";
$icon-medium-line-jump-to-message: "\e91d";
$icon-medium-line-inbox: "\e91e";
$icon-medium-line-image: "\e91f";
$icon-medium-line-high-five: "\e920";
$icon-medium-line-heart: "\e921";
$icon-medium-line-hamburger: "\e922";
$icon-medium-line-groups: "\e923";
$icon-medium-line-gift: "\e924";
$icon-medium-line-finger: "\e925";
$icon-medium-line-cross: "\e926";
$icon-medium-line-close: "\e927";
$icon-medium-line-check: "\e928";
$icon-medium-line-chat: "\e929";
$icon-medium-line-caret: "\e92a";
$icon-medium-line-calendar: "\e92b";
$icon-medium-line-button-photo: "\e92c";
$icon-medium-line-button-check: "\e92d";
$icon-medium-line-button-arrow-up: "\e92e";
$icon-medium-line-button-arrow-down: "\e92f";
$icon-medium-line-button-add: "\e930";
$icon-medium-line-button-add-photo: "\e931";
$icon-medium-line-arrow: "\e932";
$icon-medium-line-alert: "\e933";
$icon-medium-line-add: "\e934";
$icon-medium-line-add-members: "\e935";

