$icomoon-font-family: "icon-small-solid";
$icomoon-font-path: "../fonts/icons/small-solid";

$icon-small-solid-copy-link: "\e900";
$icon-small-solid-facebook: "\e901";
$icon-small-solid-heart: "\e902";
$icon-small-solid-inbox: "\e903";
$icon-small-solid-link: "\e904";
$icon-small-solid-lock: "\e905";
$icon-small-solid-mail: "\e906";
$icon-small-solid-mail-1: "\e907";
$icon-small-solid-members: "\e908";
$icon-small-solid-messages: "\e909";
$icon-small-solid-premium: "\e90a";
$icon-small-solid-send: "\e90b";
$icon-small-solid-star: "\e90c";
$icon-small-solid-trash: "\e90d";
$icon-small-solid-whatsapp: "\e90e";

