<div class="d-flex">
    <div class="flex-5">
        <h2 class="introduce-title">
            Meet and get in touch with other members
        </h2>
        <p class="introduce-desc">
            With Sportpartner you’ll be able to find a sport buddy within a day lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.
        </p>
    </div>
    <div class="d-flex flex-7 justify-content-md-end">
        <img src="/images/img-introduce-content-2.png" alt="">
    </div>
</div>