{{> common-header }}
<div id="landing-matches">
  <div class="section-matches">
    <div class="space-60"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="no-results-panel">
                  <h2 class="Heading-1 m-0">Sorry. No messages yet..</h2>
                  <div class="space-40"></div>
                  <p class="no-results-content text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                    <br> Nullam
                    malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.</p>
                  <div class="space-70"></div>
                  <div class="text-center">
                    <a class="btn btn-round-link btn-link black-two" style="width: 236px" href="#">Show me my matches</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="space-60"></div>
  </div>
</div>