{{> common-header }}
<div class="bg-white-two">
  <div class="space-40"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-messages-box">
          {{> common-header-messages-box}}
        </div>
        <div class="panel-profile messages-box-screen">
          <div class="panel-inner-left messages-box">
            {{> common-inbox-messages}}
          </div>
          <div class="panel-inner-right">
            <div class="no-premium-want-to-chat bg-white-f8">
              <h3 class="title-2 text-center">
                No conversation selected
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</div>