{{> common-header }}
<div id="landing-matches">
  <hr class="m-0">
  <div class="space-130"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="no-results-panel">
              <div class="avatar-suggesstion">
                <span class="avatar-match-suggestion last">5+</span>
                {{# avatars}}
                <span class="avatar-match-suggestion"></span>
                {{/avatars}}
              </div>
              <h2 class="Heading-1 m-0">Want to know who visited your profile? Go Premium.</h2>
              <div class="space-40"></div>
              <p class="no-results-content text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                <br> Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.</p>
              <div class="space-70"></div>
              <div class="text-center">
                <a class="btn btn-round-link btn-link black-two" style="width: 300px" href="#">Go Premium</a>
                <div class="space-40"></div>
                <a class="a-link" href="#">Back to my messages</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="space-60"></div>
</div>