<div class="banner matched-page">
  <div class="arrow_box">
    {{> elements-label(lblClass: "m-0 sportpartner-premium", lblText: "Sportpartner Premium")}}
    <div class="space-10"></div>
    <p class=" mnd">€ 3,95 p/mnd*</p>
    <div class="space-10"></div>
    <p class="content">
      <img src="/images/icons-solid/tick.svg" alt="Read messages"> Read messages
    </p>
    <p class="content">
      <img src="/images/icons-solid/tick.svg" alt="Get more views"> Get more views
    </p>
    <p class="content">
      <img src="/images/icons-solid/tick.svg" alt="Start conversations"> Start conversations
    </p>
    <div class="space-20"></div>
    {{> elements-button(buttonText: "Get Premium",class: "black-two pl-3 pr-3") }}
  </div>
</div>
