<div class="landing-preview-item">
  <div class="avatar">
    <img src="" alt="">
  </div>
  <span class="name-mb d-md-none">
    <span class="r-name">{{name}}</span>
    <span class="r-time">{{time}}</span>
  </span>
  <div class="inner-content">
    <div class="m-0 name-and-rating font-size-18 text-color-slate-grey">
      <span class="name d-md-block d-sm-none">{{name}} · {{time}}</span>
      <span class="stars">
        <span class="sport-icons star"></span>
        <span class="sport-icons star"></span>
        <span class="sport-icons star"></span>
        <span class="sport-icons star"></span>
        <span class="sport-icons star custom"></span>
      </span>
    </div>
    <h4 class="m-0 font-size-20 font-family-gilroy font-weight-bold text-color-dark">{{title}}</h4>
    <div class="space-20"></div>
    <div class="desc">
      <p class="m-0 font-size-18 text-color-slate-grey">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque
        felis.
      </p>
    </div>
  </div>
</div>