<li class="list-inline-item">
  <a href="#main-navigation" class="p-0 btn btn-menu">
    <span class="sport-icons hamburger"></span>
    <span class="menu">
      Menu
    </span>
  </a>
</li>
<li class="list-inline-item separate d-sm-none d-md-inline-block"></li>
