<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container-breadcrum">
                <div class="custom-breadcrumb">
                    {{# breadcrum }}
                    <a href="#">
                        <span class="custom-breadcrumb__inner">
                            <span class="custom-breadcrumb__title">{{dest}}</span>
                        </span>
                    </a>
                    {{/ breadcrum }}
                </div>
            </div>
        </div>
    </div>
</div>