<div class="space-160"></div>
<div class="login-modal">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-link button-close-modal">
        <img src="/images/icons-solid/close.svg" alt="">
      </button>
    </div>
  </div>
  <div class="space-20"></div>
  <div class="main-form">
    <div class="row">
      <div class="col-md-12">
        <h2 class="Get-started-today">
          Get started today
        </h2>
        <div class="space-20"></div>
        <label class="ma-0 Paragraph-1-center" style="height: 80px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odiouisque volutpat matti.</label>
      </div>
    </div>
    <!-- <div class="space-40"></div> -->
    <div class="row">
      <div class="col-md-12">
        {{> elements-button(class: "btn-block brownish-grey", buttonText: "Sign up using Facebook") }}
        <div class="space-10"></div>
        {{> elements-label(lblClass: "d-md-block Dont-worry-we-wont", lblText: "Don’t worry we wont publish anything on your timeline")
        }}
      </div>
    </div>
    <div class="space-20"></div>
    <hr class="ma-0">
    <div class="space-20"></div>
    <div class="row">
      <div class="col-md-12">
        {{> elements-button(class: "btn-block black-two", buttonText: "Sign up using my email") }}
      </div>
    </div>
    <div class="space-40"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        {{> elements-label(lblClass: "d-md-inline-block Paragraph-1", lblText: "Already have an account?") }} 
        <a href="#" class="alogin font-weight-bold display-inline-block">Login</a>
      </div>
    </div>
  </div>
</div>
