<div class="match-block">
  <div class="match-avatar"></div>
  <div class="match-info">
    <label class="Heading-2-diap ma-0 d-block">Robie William</label>
    <label class="Paragraph-1-diap ma-0 d-block">
      <span class="city">
        M/30 City, Amsterdam, Noord-Holldand
      </span>
    </label>
  </div>
  <div class="match-image clearfix">
    <div class="image float-left">
      <span class="sport-icons running"></span>
    </div>
    <div class="image float-left">
      <span class="sport-icons bicycle"></span>
    </div>
    <div class="image float-left">
      <span class="sport-icons tennis"></span>
    </div>
    <div class="image float-left">
      <span class="sport-icons running"></span>
    </div>
    <div class="more-image float-left">+5</div>
  </div>
  <div class="match-description">
    <span class="Description ma-0 d-block clearfix">
      <span class="truncate">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Don odio. Quisque volutpat mattis er</span>
      <a class="text-color-orangey-red read-more float-right" href="#">
        <span class="sport-icons drow-arrow"></span>
      </a>
    </span>
  </div>
</div>
