<div class="request-permission">
    <span>Sportpartner needs permission to
        <a href="#" class="a-enable font-weight-bold">enable desktop notifications</a>
    </span>
    <a href="#" class="close">
        <img src="/images/icons-solid/close.svg" alt="">
    </a>
</div>   