<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="together-is-more-panel">
        <div class="space-100"></div>
        <h3 class="m-0 font-weight-bold font-family-gilroy font-size-60 text-center text-color-royal-purple">
          more is together
        </h3>
        <div class="space-20"></div>
        <p class="m-0 text-center font-weight-300 font-size-24 text-color-dark">Meer dan de helft vind zijn of haar mach binnen een dag!</p>
        <div class="space-30"></div>
        <div class="text-center">
          <a href="#" class="btn btn-round deep-sky-blue">Sign up today </a>
        </div>
        <div class="space-100"></div>
      </div>
    </div>
  </div>
</div>
 