  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="../../js/jquery-3.3.1.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/popper.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/bootstrap.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/bootstrap-slider.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/bootstrap-select.js?{{ cacheBuster }}"></script>
  <script src="../../js/jquery.auto-complete.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/jquery.mmenu.all.js?{{ cacheBuster }}"></script>
  <script src="../../js/jquery.mhead.js?{{ cacheBuster }}"></script>

  <script src="../../js/emoticon/jquery.emojiarea.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/emoticon/packs/emojis.js?{{ cacheBuster }}"></script>

  <script src="../../js/jquery.matchHeight.min.js?{{ cacheBuster }}"></script>

  <script src="../../js/isotope/isotope.min.js?{{ cacheBuster }}"></script>
  <script src="../../js/isotope/masonry.min.js?{{ cacheBuster }}"></script>

  <script src="../../js/flickity/flickity.min.js?{{ cacheBuster }}"></script>

  <script src="../../js/main.js?{{ cacheBuster }}"></script>
  </body>
</html>
