<select class="selectpicker" data-icon-base="custom-icon" data-style="btn btn-link">
  <option data-icon="mes-inbox">Inbox</option>
  <option data-icon="mes-star">Messages with star</option>
  <option data-icon="mes-deleted">Deleted messages</option>
</select>
