<div class="header-bar {{ customHeaderClass }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ul class="ma-0 list-inline">
          <li class="list-inline-item">
            <h1 class="sportpartner">
              Sportpartner
            </h1>
          </li>
          <li class="list-inline-item separate"></li>
          <li class="list-inline-item">
            <label class="together-is-more ma-0">together is more</label>            
          </li>
        </ul>
      </div>      
      <!-- (maybe use)
      <div class="col-md-6">
        <ul class="ma-0 list-inline float-right">
          <li class="list-inline-item">
            <label class="New-to-Sportpartner ma-0">Has account already?</label>
          </li>
          <li class="list-inline-item">
            {{> elements-button(class: "btn-login outline-white-four", buttonText: "Login") }}
          </li>         
        </ul>
      </div> 
      -->
    </div>
  </div>
</div>
{{> common-navigation }}