<div class="header-bar {{ customHeaderClass }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-10">
        <ul class="ma-0 list-inline">
          {{> common-menu }}
          <li class="list-inline-item">
            <h1 class="sportpartner">
              <a style="text-decoration:none">Sportpartner</a>
            </h1>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-2">
        <ul class="ma-0 list-inline float-right">
          <li class="list-inline-item d-sm-none d-md-inline-block">
            <label class="New-to-Sportpartner ma-0">New to Sportpartner?</label>
          </li>
          <li class="list-inline-item d-sm-none d-md-inline-block">
            <a class="btn btn-link black-two" href="#">Sign up</a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-link outline-white-four btn-login" href="#">Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{> common-navigation }}
