$icomoon-font-family: "icon-inline";
$icomoon-font-path: "#{$baseUrl}/assets/fonts/icons/inline";

$icon-inline-arrow: "\e900";
$icon-inline-back: "\e901";
$icon-inline-caret: "\e902";
$icon-inline-check: "\e903";
$icon-inline-cross: "\e904";
$icon-inline-cw: "\e905";
$icon-inline-enter: "\e906";
$icon-inline-location: "\e907";
$icon-inline-message-new: "\e908";
$icon-inline-min-bottom: "\e909";
$icon-inline-min-corner: "\e90a";
$icon-inline-min: "\e90b";
$icon-inline-pending: "\e90c";
$icon-inline-plus: "\e90d";
$icon-inline-rotate-ccw: "\e90e";
$icon-inline-search: "\e90f";
$icon-inline-trash: "\e910";

