<div class="inbox-item-messages {{#inbox-item-selected}} selected {{/inbox-item-selected}}">
    <a href="#" onclick="return false;" class="message-content">
        <div class="item-avatar-number">
            <div class="img">
                <img src="" alt="">
            </div>
        </div>
        <div class="item-name-message-content">
            <div class="name-time">
                <div class="b-name">
                    <span class="name">{{name}}</span>
                </div>
                <div class="time">{{time}}</div>
            </div>
            <div class="content-message">
                {{message-content}}
            </div>
        </div>
    </a>
</div>