<div class="messages-list {{^noPremium}}custom-no-premium{{/noPremium}}">
  <div class="information equalHeight">
    {{#inbox-messages}} {{> common-inbox-item-in-deleted}} {{/inbox-messages}}
  </div>
</div>
