<div class="chat-inbox-suggestion-item">
  <div class="message-detail">
    <div class="section-avatar">
      <span class="avatar">
        <img
          src="/spa-web/assets/images/avatar/user.jpg">
      </span>
    </div>
    <div class="sender-detail">
      <div class="line-1">
        <p class="mobile-button-1 text-gray-cool-1 m-0">
          Jennifer
        </p>
      </div>
      <div class="line-2">
        <div class="message-group-grid">
          <div class="mobile-paragraph-2 text-black-40">{{'Conversation.INBOX.suggestion_start_chat' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-highfive">
    <button class="btn btn-highfive">
      <i class="icon-medium-solid-hf"></i>
    </button>
  </div>
</div>
