$base: 15px;
.container-breadcrum {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 480px; // padding: 0 40px;
}

.custom-breadcrumb {
    display: inline-flex;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto 0 0;
    text-align: center; // top: 50%; 
    //width: 100%;
    // max-width: 1200px;
    height: $base * 2;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #f0f0f0;
    font-size: 14px;
    border: 1px solid $white-four;
}

.custom-breadcrumb a {
    position: relative;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    margin: auto;
    height: 100%;
    padding-left: $base;
    padding-right: 0;
    color: $warm-grey;
}

.custom-breadcrumb a:first-child {
    padding-left: $base / 2.5;
}

.custom-breadcrumb a:last-child {
    padding-right: $base / 2.5;
}

.custom-breadcrumb a:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: $base * 2;
    height: $base * 2;
    top: 0;
    right: $base / 1.35 * -1;
    background-color: #f0f0f0; // border-top-right-radius: 5px;
    transform: scale(0.707, 1.3) rotate(45deg);
    border-right: 1px solid $white-four;
    border-top: 1px solid $white-four; // box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.custom-breadcrumb a:last-child:after {
    content: none;
}

.custom-breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto 8px 4px;
    z-index: 2;
}

.custom-breadcrumb__title {
    font-weight: 100;
}

.custom-breadcrumb a:last-child,
.custom-breadcrumb a.active,
.custom-breadcrumb a:hover {
    background: $white-four;
    text-decoration: none !important;
}

.custom-breadcrumb a.active:after,
.custom-breadcrumb a:hover:after {
    background: $white-four;
    text-decoration: none !important;
}

// 1000px
///////////////////////
@media all and (max-width: 1000px) {
    .custom-breadcrumb {
        font-size: 12px;
    }
}

// 710px
///////////////////////
@media all and (max-width: 710px) {
    .custom-breadcrumb__desc {
        display: none;
    }
    .custom-breadcrumb {
        height: $base;
    }
    .custom-breadcrumb a {
        padding-left: $base / 1.5;
    }
    .custom-breadcrumb a:after {
        content: "";
        width: $base * 1;
        height: $base * 1;
        right: $base / 2 * -1;
        transform: scale(0.707) rotate(45deg);
    }
}