@mixin Titel {
    font-family: $font-family-base;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

@mixin Heading-1 {
    font-family: $font-family-base;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.27;
    text-align: center;
    color: #303030;
    color: $black-two;
}

@mixin Heading-1-diap {
    font-family: $font-family-base;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.27;
    text-align: center;
    color: #ffffff;
}

@mixin Sidenavigation-item-active {
    font-family: $font-family-base;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.31;
    text-align: left;
    color: #000000;
    color: $black;
}

@mixin Subtitel {
    font-family: $font-family-base;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
}

@mixin Sidenavigation-item {
    font-family: $font-family-base;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.31;
    text-align: left;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin Heading-2-center {
    font-family: $font-family-base;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    text-align: center;
    color: #000000;
    color: $black;
}

@mixin Heading-2-diap {
    font-family: $font-gilroy;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.31;
    text-align: left;
    color: #ffffff;
}

@mixin Heading-2 {
    font-family: $font-family-base;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: #000000;
    color: $black;
}

@mixin Testimonial-diap {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

@mixin Intro-center {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: #000000;
    color: $black;
}

@mixin Intro {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
    color: #000000;
    color: $black;
}

@mixin Testimonial {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #303030;
    color: $black-two;
}

@mixin Heading-3 {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63; // text-align: left;
    // color: #000000;
    // color: $black;
}

@mixin navigation-item {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #939393;
}

@mixin button-text-big-black {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    color: $black;
}

@mixin button-text-dark {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    color: $black;
}

@mixin button-text-big-light {
    font-size: 16px;
    font-weight: bold;
    text-align: center; // color: #ffffff;
}

@mixin button-text-light {
    font-size: 18px;
    font-weight: normal;
    text-align: center; // color: #ffffff;
}

@mixin navigation-item-active {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    color: $black;
}

@mixin List {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #8c8c8c;
    color: $warm-grey;
}

/*@mixin inputfield-text {
  font-family: $font-family-base;
  font-size: 20px;
  line-height: 1.8 !important;
  text-align: left;
  color: #a0a0a0;
}*/

@mixin text-link-1-diap {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #ffffff;
}

@mixin Paragraph-1 {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin Paragraph-1-center {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: $warm-grey;
}

@mixin Paragraph-1-form-label {
    font-size: 18px;
    line-height: 1.44;
    color: $dark;
    font-weight: 500;
    @include style-mobile {
        font-weight: 400;
    }
}

@mixin Paragraph-1-diap {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    color: #ffffff;
}

;
@mixin text-link-1 {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    color: $black;
}

;
@mixin Subnav-item-1-active {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: bold;
    line-height: 1.86;
    text-align: left;
    color: #000000;
    color: $black;
}

;
@mixin Subnav-item-1 {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: bold;
    line-height: 1.86;
    text-align: left;
    color: #939393;
}

;
@mixin Subnav-item-2-active {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.86;
    text-align: left;
    color: #000000;
    color: $black;
}

@mixin text-link-2 {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.57;
    text-align: left;
    color: #303030;
    color: $black-two;
}

@mixin Description-center {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.86;
    text-align: center;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin tooltip {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.86;
    text-align: left;
    color: #939393;
}

@mixin Paragraph-2 {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.57;
    text-align: left;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin Footer-links {
    // font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #a180b9;
}

@mixin Description {
    font-size: 14px;
    line-height: 1.86;
    color: #716e6c;
    opacity: 0.5;
    margin-bottom: 9px;
}

@mixin Subnav-item-2 {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.86;
    text-align: left;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin text-link-2-diap {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.57;
    text-align: left;
    color: #ffffff;
}

@mixin date {
    font-family: $font-family-base;
    font-size: 12px;
    line-height: 2.17;
    text-align: right;
    color: #8c8c8c;
    color: $warm-grey;
}

@mixin space($n, $i: 1) {
    @while ($i <=$n) {
        .space-#{$i}0 {
            min-height: ($i*10px);
            display: block;
        }
        $i: $i+1;
    }
}

@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// @mixin font-family-calibre {
//   font-family: $font-calibre !important;
// }
@mixin font-family-gilroy {
    font-family: $font-gilroy !important;
}

@mixin style-content-after-header {
    position: relative;
    left: 0;
    right: 0;
    margin-top: -80px;
    z-index: 9;
}