{{> common-header-landing }}
<div id="home-landing">
  <div class="big-banner" style="background-image: url('/images/home-image-landing.jpg')">
    <div class="section-content">
      <h2 class="font-size-60 font-weight-bold font-family-gilroy">Together is more</h2>
      <h3 class="font-size-40 font-weight-light font-family-calibre">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
      <div class="space-40 d-md-none"></div>
      <div class="space-70 d-sm-none d-md-block"></div>
      <a href="#" class="btn font-weight-500 font-size-18 btn-round deep-sky-blue">Find your match</a>
      <div class="space-30 d-md-none"></div>
      <div class="space-110 d-sm-none d-md-block"></div>
      <div class="text-center">
        <img src="/images/mouse-scroll-down.svg" class="d-sm-none d-md-inline-block" alt="">
        <img src="/images/mouse-scroll-down-mobile.svg" class="d-md-none" alt="">
        <div class="space-20 d-sm-none d-md-block"></div>
        <p class="m-0 font-size-20 font-family-calibre font-weight-500">Learn more about Sportpartner</p>
      </div>
    </div>
  </div>
  {{> common-panel-preview-matches}}
  <div class="space-70"></div>
  {{> common-panel-about-sportpartner}}
  <div class="space-110 d-sm-none d-md-block"></div>
  {{>common-panel-read-story}}
  <div class="space-90"></div>
  {{> common-panel-find-your-sport-near}}
  {{> common-panel-preview}}

  {{> common-panel-member-preview}}

  {{> common-together-is-more }}
</div>
{{> common-footer-landing }}
