{{> common-header-landing }}
<div id="home-landing">
  <div class="big-banner" style="background-image: url('/images/home-image-landing-sport.jpg')">
    <div class="section-content">
      <h2 class="font-size-60 font-weight-bold font-family-gilroy">Looking for a cycling partner?
        <br> Sign up now</h2>
      <h3 class="font-size-40 font-weight-light font-family-calibre">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
      <div class="space-70"></div>
      <a href="#" class="btn btn-round deep-sky-blue">Find your cycling partner</a>
      <div class="space-110"></div>
      <div class="text-center">
        <img src="/images/mouse-scroll-down.svg" alt="">
        <div class="space-20"></div>
        <p class="m-0 font-size-20 font-family-calibre font-weight-500">Learn more about Sportpartner</p>
      </div>
    </div>
  </div>
  {{> common-panel-preview-matches(showDesc: true)}}
  <div class="space-70"></div>
  {{> common-panel-about-sportpartner}}
  <div class="space-100"></div>
  {{> common-panel-about-sport-premium}}
  {{> common-panel-preview}} 
  {{> common-panel-member-preview}} 
  {{> common-together-is-more }}
</div>
{{> common-footer-landing }}
