<div id="page-sign-up-form">
  <div class="sportpartners-header">
    <p class="text-header">
      <span class="font-weight-bold">
        sportpartner
      </span>
      together is more
    </p>
  </div>
  <hr class="m-0">
  <div class="space-40"></div>
  <h3 class="m-0 font-family-gilroy  font-weight-bold font-size-40 text-color-white text-center">Welcome to Sportpartner Jorrit!</h3>
  <div class="space-10"></div>
  <p class="m-0 font-size-20 text-center text-color-light-purple">
    Lorem ipsum cycling partner Abcoude dolor sit amet, consectetuer adipiscing.
  </p>
  <div class="space-40"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <form class="sign-up-form">
          <div class="sign-up-form-panel" style="max-height: 440px;">
            <p class="text-left m-0 font-size-20 text-color-dark">Write something about yourself</p>
            <p class="text-left m-0" style="color: #716e6c; font-size: 16px; opacity: 0.5;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit min. 60 charaters</p>
            <textarea class="form-control" name="" id="" rows="3" placeholder="write something about yourself" style="min-height: 105px; border-color:transparent; resize: none; padding: 13px 20px"></textarea>
            <div class="space-40"></div>
            <hr class="m-0">
            <div class="space-40"></div>
            <div class="ma-0 field">
              <label for="" class="ma-0 d-md-block font-family-gilroy text-center font-size-20 font-weight-bold text-color-dark">Add a photo</label>
              <div class="space-30"></div>
              <div class="text-center">
                <!-- {{> elements-button(buttonText: "Upload a photo", class: "pl-4 pr-4 brownish-grey") }} -->
                <button class="btn orangey-red btn-block">Upload a photo</button>
              </div>
            </div>
          </div>
          <div class="space-70"></div>
          <div class="text-lg-center">
            {{> elements-button(attribute: "disabled", buttonText: "Save and show my matches", class: "btn-round btn-submit black-two")
            }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{> common-footer }}
