<div id="page-sign-up-upload-photo">
  <div class="sportpartners-header">
    <p class="text-header">
      <span class="font-weight-bold">
        sportpartner
      </span>
      together is more
    </p>
  </div>
  <hr class="m-0">
  <div class="space-40"></div>
  <h3 class="m-0 font-family-gilroy  font-weight-bold font-size-40 text-color-white text-center">Welcome to Sportpartner Jorrit!</h3>
  <div class="space-10"></div>
  <p class="m-0 font-size-20 text-center text-color-light-purple">
    Lorem ipsum cycling partner Abcoude dolor sit amet, consectetuer adipiscing.
  </p>
  <div class="space-40"></div>
  <div class="container-fluid photo-upload-page">
    <div class="pnl-step-2">

      <p class="text-left m-0 font-size-20 text-color-dark">Write something about yourself</p>
      <p class="text-left m-0" style="color: #716e6c; font-size: 16px; opacity: 0.5;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit min. 60 charaters</p>
      <div class="space-10"></div>
      <textarea class="form-control" name="" id="" rows="3" placeholder="write something about yourself" style="min-height: 105px; resize: none;     padding: 13px 20px"></textarea>
      <div class="space-40"></div>
      <hr class="m-0">
      <div class="space-40"></div>
      <div class="pnl-upload-photo">
        <p class="m-0 font-size-20 text-center text-color-slate-grey">
            Your photo is automatically centred. Click and drag to position your photo.
        </p>
        <div class="space-30"></div>
        <div class="wrap-function">
          <div class="function-left">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn outline-white-four" data-toggle="tooltip" data-container=".wrap-function" data-placement="top"
                title="Rotate to left">
                <!-- <img style="transform: rotate(55deg);" src="/images/icons-solid/rotate-arrow-left.svg"> -->
                <span class="sport-icons rotate-left"></span>
              </button>
              <button type="button" data-toggle="tooltip" class="btn outline-white-four" data-container=".wrap-function" data-placement="top"
                title="Rotate to right">
                <span class="sport-icons rotate-right"></span>
              </button>
            </div>
          </div>
          <div class="function-image">
            <div class="oval"></div>
          </div>
          <div class="function-right">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn outline-white-four" data-toggle="tooltip" data-container=".wrap-function" data-placement="top"
                title="Zoom out">
                <!-- <img src="/images/icons-solid/minus-symbol.svg"> -->
                <span class="sport-icons minus"></span>
              </button>
              <button type="button" class="btn outline-white-four" data-toggle="tooltip" data-container=".wrap-function" data-placement="top"
                title="Zoom in">
                <span class="sport-icons plus"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="input-file">
          <input id="frm-input-file" type="file">
          <label class="lblInputFile" for="frm-input-file">
            Upload a new photo
          </label>
        </div>
        <button type="button" class="btn btn-round black-two">Save and show my matches</button>
      </div>
    </div>
  </div>
</div>
