{{> common-header-login }}
<div class="space-80"></div>
<div class="space-100"></div>
<div class="page-login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="Heading-1">
            Your password reset request has been send
        </h2>
      </div>
    </div>
    <div class="space-40"></div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
          {{> elements-label(lblClass: "ma-0 Paragraph-1-center", lblText: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.") }}
      </div>
    </div>
    <div class="space-60"></div>
    <div class="row">
      <div class="col-sm-8 text-md-center text-xs-center text-lg-center offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <a href="#" class="text-link-1">Confirm email</a>
      </div>
    </div>
  </div>
</div>
{{> common-footer }}