{{> common-header-login }}
<div class="space-40"></div>
<div class="page-login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="Heading-1">
            No worries. You’ll able to login in no time!
        </h2>
      </div>
    </div>
    <div class="space-20"></div>
    <div class="space-100"></div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
          {{> elements-label(lblClass: "ma-0 Paragraph-1-center", lblText: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere.") }}
      </div>
    </div>
    <div class="space-40"></div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <form>
          <div class="field">
            {{> elements-label(lblClass: "Paragraph-1-form-label", lblText: "New password") }} 
            {{> elements-password(idPasswordToggle: "enter-new-password", placeholder: "New password") }}
          </div>
          <div class="field">
            {{> elements-label(lblClass: "Paragraph-1-form-label", lblText: "Confirm new password") }} 
            {{> elements-password(idPasswordToggle: "reenter-new-password", placeholder: "New password") }}
          </div>
          <div class="space-10"></div>
          {{> elements-button(class: "btn-block black-two", buttonText: "Login to Sportpartner") }}
        </form>
      </div>
    </div>
  </div>
</div>
{{> common-footer }}