@import "functions";
@import "media";
@import "app-colorpalette";

.panel-group-info {
    display: grid;
    position: relative;
    background: map-get($grayWarms, gray-warm-6);
    @include gt-mobile {
        height: 100%;
        grid-template-rows: 80px auto;
    }
    @include mobile {
        height: calc(var(--vh100) - 90px);
        overflow-y: auto;
    }
    .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 20px;
            color: map-get($grayCools, gray-cool-2);
        }
    }
    .panel-header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-bottom: 1px solid #f5f3f1;
        border-left: 1px solid #f5f3f1;
        background: map-get($grayWarms, gray-warm-6);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        i {
            margin-right: 34px;
            cursor: pointer;
        }
    }
    .panel-content {
        .overview-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px 0;
            @include mobile {
                padding: 50px 0 30px;
            }
            .group-icon {
                width: 135px;
                height: 135px;
                border-radius: 50%;
                background: #FFFFFF;
                i {
                    font-size: 60px;
                }
            }
            .group-name {
                padding: 0 20px;
                margin-top: 20px;
                max-width: 293px;
                text-align: center;
            }
            .total-member {
                margin-top: 4px;
            }
        }
        .list-member-wrap {
            border-top: 1px solid map-get($color-pallets, black-10);
            padding: 35px 30px;
            .list-member-box {
                .list-member-item {
                    position: relative;
                }
            }
            .btn-show-more {
                margin-top: 35px;
                height: 50px;
                width: 100%;
                border: 2px solid map-get($color-pallets, black-10);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                padding: 15px 20px;
                i {
                    margin-right: 13px;
                    font-size: 14px;
                }
                &:hover {
                    border: 2px solid map-get($azures, azure-2);
                    i,span {
                        color: map-get($azures, azure-2);
                    }
                }
                &:active {
                    border: 2px solid map-get($grayCools, gray-cool-2);
                    i,span {
                        color: map-get($grayCools, gray-cool-2);
                    }
                }
            }
        }
        .list-btn-group {
            padding: 0 30px 30px 30px;
            button {
                background: #FFFFFF;
                text-align: left;
                display: flex;
                align-items: center;
                padding: 18px 26px;
                i {
                    font-size: 16px;
                    margin-right: 22px;
                    color: map-get($grayCools, gray-cool-2);
                }
                span {
                    color: map-get($grayCools, gray-cool-2);
                }
            }
            .btn-goto-group {
                border-radius: 8px 8px 0px 0px;
            }
            .btn-leave {
                border-radius: 0px 0px 8px 8px;
            }
            .btn-delete {
                border-radius: 8px;
            }
        }
    }
}

.banner-invite-friend {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    padding: 20px 30px;
    background: map-get($grayWarms, gray-warm-6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05);
    button {
        width: 100%;
    }
}

.dialog-leave-conversation,
.dialog-delete-conversation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    @include mobile {
        background-color: #ffffff;
        z-index: 100;
    }

    .box-detail {
        background: #ffffff;
        position: relative;
        height: 100%;

        @include gt-mobile {
            width: 520px;
            height: 426px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05),
                0px 20px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .dialog-head {
            position: absolute;
            top: 0;
            right: 0;

        @include gt-mobile {
            top: 34px;
            right: 34px;
        }

        button {
        padding: 34px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include gt-mobile {
            padding: 0;
        }

        @include mobile {
            width: 80px;
            height: 80px;
        }

        i {
            font-size: 20px;
        }
        }
    }

    .dialog-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        padding: 30px;
        justify-content: center;
      }

      .heading {
        max-width: 400px;
        margin-bottom: 0;

        @include gt-mobile {
          margin-top: 70px;
        }
      }

      .sub-title {
        max-width: 400px;
        margin-top: 20px;
        margin-bottom: 40px;

        @include mobile {
          max-width: 315px;
          margin-bottom: 30px;
        }
      }

      .btn-confirm {
        margin-top: 10px;
      }

      button {
        max-width: 240px;

        @include mobile {
          max-width: 100%;
        }
      }
    }
    }

    .overlay-dialog {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.break-line {
    -webkit-line-clamp: 1;
    overflow: hidden;
    // text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}