.banner-curious-more-groups {
  min-height: 162px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  .subtitle-2{
    margin-bottom: 20px;
  }
  .btn-discover {
    margin: auto;
    min-width: 275px;
  }
}
