{{> common-header-landing }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="space-20"></div>
      <h3 class="sm-title text-center">Rosalien from Amersfoort is looking for a cycling partner</h3>
      <div class="space-40"></div>
    </div>
  </div>
</div>
<div class="section-matches bg-white-two">
  <div class="space-60"></div>
  {{> common-breadcrum }}
  <div class="space-20"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-profile">
          <div class="panel-inner-left">
            {{> common-matched-profile }}
          </div>
          <div class="panel-inner-right">
            {{> common-visitor-profile }}
          </div>
        </div>
        <div class="space-40"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="space-60"></div>
        <h3 class="text-center would-like-to-see-mo">Would like to see more people looking for a sport partner?</h3>
        <div class="space-30"></div>
        <div class="text-center">
          <a style="min-width:300px" class="btn btn-round-link black-two" href="#">Discover more members</a>
        </div>
        <div class="space-100"></div>
      </div>
    </div>
  </div>
</div>
{{> common-together-is-more }}
{{> common-footer-landing }}