<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-white"></span>
		<span class="sg-label">#f8f8f8 white</span>
	</li>
	<li>
		<span class="sg-swatch bg-white-three"></span>
		<span class="sg-label">#e1e1e1 white-three</span>
	</li>
	<li>
		<span class="sg-swatch bg-white-two"></span>
		<span class="sg-label">#f0f0f0 white-two</span>
	</li>
	<li>
		<span class="sg-swatch bg-white-four"></span>
		<span class="sg-label">#d2d2d2 white-four</span>
	</li>
    <li>
		<span class="sg-swatch bg-white-five"></span>
		<span class="sg-label">#e2e2e2 white-five</span>
	</li>
	<li>
		<span class="sg-swatch bg-black"></span>
		<span class="sg-label">#000000 black</span>
	</li>
</ul>
<ul class="sg-colors">	
	<li>
		<span class="sg-swatch bg-black-two"></span>
		<span class="sg-label">#303030 black-two</span>
	</li>
	<li>
		<span class="sg-swatch bg-brownish-grey"></span>
		<span class="sg-label">#5e5e5e brownish-grey</span>
	</li>
	<li>
		<span class="sg-swatch bg-azure"></span>
		<span class="sg-label">#00aaff azure</span>
	</li>
	<li>
		<span class="sg-swatch bg-warm-grey"></span>
		<span class="sg-label">#8c8c8c warm-grey</span>
	</li>
    <li>
		<span class="sg-swatch bg-warm-grey-two"></span>
		<span class="sg-label">#939393 warm-grey-two</span>
	</li>
    <li>
		<span class="sg-swatch bg-coral"></span>
		<span class="sg-label">#ff5a3b coral</span>
	</li>
</ul>