<div class="space-20"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn royal-purple">button</button>
      <button class="btn orangey-red">button</button>
      <button class="btn deep-sky-blue">button</button>
      <button class="btn brownish-grey">button</button>
      <button class="btn black-two">button</button>
      <button class="btn deep-sky-blue">button</button>
    </div>
  </div>
  <div class="space-20"></div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-round royal-purple">button</button>
      <button class="btn btn-round orangey-red">button</button>
      <button class="btn btn-round deep-sky-blue">button</button>
      <button class="btn btn-round brownish-grey">button</button>
      <button class="btn btn-round black-two">button</button>
      <button class="btn btn-round deep-sky-blue">button</button>
    </div>
  </div>
  <div class="space-20"></div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn outline-royal-purple">button</button>
      <button class="btn outline-orangey-red">button</button>
      <button class="btn outline-deep-sky-blue">button</button>
      <button class="btn outline-brownish-grey">button</button>
      <button class="btn outline-black-two">button</button>
      <button class="btn outline-deep-sky-blue">button</button>
    </div>
  </div>
</div>