<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "btn btn-link black-two", linkText: "link button") }} 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "btn btn-link outline-white-four", linkText: "link button outline") }} 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "btn btn-round-link btn-link  black-two", linkText: "link button round") }} 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "btn btn-round-link btn-link outline-white-four", linkText: "link outline button round") }} 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "text-link-2", linkText: "normal text link")}} 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">      
      {{> elements-link(href: "#", class: "Footer-links", linkText: "footer link")}} 
    </div>
  </div>
  <br />
</div>
