$icomoon-font-family: "icon-sport";
$icomoon-font-path: "../fonts/icons/sport";

$icon-sport-badminton-racket: "\e900";
$icon-sport-badminton: "\e901";
$icon-sport-cards-duo: "\e902";
$icon-sport-cards: "\e903";
$icon-sport-climbing: "\e904";
$icon-sport-cycling: "\e905";
$icon-sport-dancing: "\e906";
$icon-sport-fishing: "\e907";
$icon-sport-fitness: "\e908";
$icon-sport-golf: "\e909";
$icon-sport-hiking: "\e90a";
$icon-sport-iceskating: "\e90b";
$icon-sport-padel-racket: "\e90c";
$icon-sport-rollerblading: "\e90d";
$icon-sport-running: "\e90e";
$icon-sport-sailing: "\e90f";
$icon-sport-skiing: "\e910";
$icon-sport-squash-racket: "\e911";
$icon-sport-squash: "\e912";
$icon-sport-surfiing: "\e913";
$icon-sport-swimming: "\e914";
$icon-sport-tennis-racket: "\e915";
$icon-sport-tennis: "\e916";
$icon-sport-walking: "\e917";
